
  .ant-select-dropdown-menu-item-active, .ant-select-dropdown-menu-item:hover {
    background-color: #0095d9 !important;
    color: #fff!important;
    border: 1px solid #0095d9 !important;
  }
  
  .ant-select-arrow .ant-select-arrow-icon {
    color:#fff !important;
  }
  .title{
    font-size: 24px;
    margin-left: 4%;
    margin-top: 2%;
  }
  
  .ant-table-thead > tr > th{
    color:#fff !important;
    background-color: #0095d9 !important;
  }
  .ant-btn-primary {
    color: #fff;
    background-color: #0095d9 !important;
    border-color: #0095d9 !important;
  }
.ant-btn{
  border-color:#fff !important;
  cursor: pointer !important;
}
.title{
    margin-left: -0.5em;
    // color: #A9A9A9;
    font-size: 16px;
    font-weight: 600;
}
.title2{
  color: #A9A9A9;
  font-size: 14px;
  font-weight: 600;
}
.title1{
    color: #A9A9A9;
    font-size: 13px;
    font-weight: 600;
}
a{
  color:#0095d9 !important;
  font-weight: 600;
}
.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
  padding: 8px 2px !important;
}
.ant-table{
  font-size: 12px !important;
}
.ant-divider-horizontal {
  display: block;
  clear: both;
  width: 100%;
  min-width: 100%;
  height: 1px;
  margin-top: 24px !important;
}
.ant-collapse > .ant-collapse-item:last-child, .ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
  border-radius: 0 0 4px 4px;
  background-color: #0095d9;
  color: #fff;
  font-size: 16px;
  border-color:#0095d9 !important;
}
.ant-notification-notice {
  background: #ffffff !important;
}
/* Track */
::-webkit-scrollbar-track {
  background: #fff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.ant-table-thead > tr > th .ant-table-header-column{
  font-weight: 600;
}

.table-striped-rows tr:nth-child(2n) td {
  background-color: #fbfbfb;
}
.table-striped-rows thead {
  background-color: #f1f1f1;
}

